[Unit]
Description=Polybar

[Service]
Type=forking
ExecStart=%h/.config/polybar/launch.sh
Restart=always

# Remove the limit in startup timeout, since emacs
# cloning and building all packages can take time
TimeoutStartSec=0

[Install]
WantedBy=default.target
