*.foreground:    #A9B1D6
*.background:    #1A1B26
*.cursorColor:   #A9B1D6
*.highlightColor:#3A3F4B
*.color0:        #1A1B26
*.color8:        #4E5173
*.color1:        #F7768E
*.color9:        #E06C75
*.color2:        #E0AF68
*.color10:       #D19A66
*.color3:        #9ECE6A
*.color11:       #98C379
*.color4:        #7AA2F7
*.color12:       #61AFEF
*.color5:        #9A7ECC
*.color13:       #C678DD
*.color6:        #4ABAAF
*.color14:       #56B6C2
*.color7:        #ACB0D0
*.color15:       #ABB2BF

*.font: xft:Iosevka Nerd Font:style=Regular:pixelsize=13
*.boldFont: xft:Iosevka Nerd Font:style=Bold:pixelsize=13
*.italicFont: xft:Iosevka Nerd Font:style=Italic:pixelsize=13
*.boldItalicFont: xft:Iosevka Nerd Font:style=Bold Italic:pixelsize=13
*.letterspacing: -1
*.perl-ext-common: default,52-osc,clipboard,-confirm-paste
*.scrollBar: false
*.iso14755: false
*.iso14755_52: false
*.keysym.Shift-Control-V: eval:paste_clipboard
*.keysym.Shift-Control-C: eval:selection_to_clipboard
*.keysym.Control-Meta-c: builtin-string:
*.keysym.Control-Meta-v: builtin-string:

URxvt.cursorColor:  #770077
URxvt.colorUL:      #66ccff

URxvt.scrollBar:    false
URxvt.perl-ext-common:  default,matcher,url-select,keyboard-select
URxvt.matcher.button:   1
URxvt.url-launcher: $BROWSER
URxvt.keysym.M-u:   perl:url-select:select_next
